
:local(.content) {
  padding-top: 24px;
}

:local(.card) {
  padding: 16px 11px 23px 11px;
}

:local(.group) {
  margin-top: 16px;
}

:local(.selectOption) {
  display: flex;
  align-items: center;

  img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 4px;
  }
}
